*{
    margin: 0%;
    padding: 0%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 60px;
    width: 100%;
    background-color: rgb(55, 214, 246);
    border-bottom: 2px solid black;
}

.navbar ul li{
    list-style-type: none;
    padding-right: 20px;

}
.navbar ul{
    display: flex;
    
}
.navbar{
    align-content: center;
}
#logo{
    
    padding-left: 30px;
    font-size: 20px;
    display: flex;
    align-items: center;
    color: #34495e;;
}
a{
    text-decoration: none;
    font-size: 20px;
    color: #34495e;
}
a:hover{
    color: #040067;
    text-decoration: underline;
}

body{
    
    height: 100%;
    width: 100%;
    background-image: url(img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
background-position: center;

}

.form-container {
  max-width: 600px;
  margin-left: 30px;
  margin-top: 30px;
}

fieldset {
  border: 2px solid #3498db;
  padding: 2rem;
  border-radius: 10px;
  background:transparent
}

legend {
  font-size: 1.5rem;
  padding: 0 1rem;
  color: #2c3e50;
  font-weight: bold;
}

.formgroup {
  display: flex;
  flex-direction: column;
  margin-bottom: .5rem;
}

label {
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: #34495e;
}

input, textarea {
  padding: 0.8rem;
  font-size: 1rem;
  border-radius: 5px;
  border: 2px solid #1fbcd7;
  background-color:transparent;
}

input:focus, textarea:focus {
  outline: none;
  border-color: #3498db;
}

button {
  padding: 0.9rem 1.5rem;
  background-color: #3498db;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
  transition: 0.3s;
}

button:hover {
  background-color: #2980b9;
}

footer{
     position: relative;
  margin-top: 50px;
    bottom: 0%;
    height: 60px;
    width: 100%;
    background-color: rgb(0, 179, 255);
    text-align: center;
    padding-top: 5px;
}